<div class="container">
  <h1>Innovation Center</h1>
  <form>
    <div class="form-group">
      <label for="mailid">Mail ID</label>
      <input type="text" class="form-control" id="mailid" required [(ngModel)]="mailid">
    </div>
    <br>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" required [(ngModel)]="password">
    </div>

    <button type="submit" class="btn btn-success"  ngSubmit="submit($event)">Submit</button>

  </form>
</div>